<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

	    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
<!--         如果连接池中连接耗尽，一次获取连接的个数，默认为3 -->
        <property name="hibernate.c3p0.acquire_increment">5</property>
<!--         多少秒的时间测试一下连接是否还可用Default 0 -->
        <property name="hibernate.c3p0.idle_test_period">3000</property>
<!--         连接池中最大连接数 Default 15 -->
        <property name="hibernate.c3p0.max_size">20</property>
<!--         连接池中最小连接数 -->
        <property name="hibernate.c3p0.min_size">5</property>
<!--         JDBC标准参数，用来控制最大PreparedStatement的数量 Default 0 -->
        <property name="hibernate.c3p0.max_statements">100</property>
<!--         一个空闲的连接，经过多少秒会被清除 Default 0,为永不丢弃 -->
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.validate">false</property>
        <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
        
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/LncTarDW</property><!-- hdfregulatory_test对应mysql数据库的名字，必须写，不区分大小写 -->
        <property name="connection.username">root</property>
        <property name="connection.password">201801097</property>
        <!-- <property name="connection.username">hdfregulatory</property>
        <property name="connection.password">hdfregulatory_xteam</property> -->
         <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- current Session -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
        <!--<property name="hbm2ddl.auto">update</property>  -->
        
        <mapping resource="beans/beans.hbm.xml"/>

    </session-factory>

</hibernate-configuration>