*{
    margin:0px;
    padding:0px;
}
.header-menu{
    height:100px;
    width:100%;
    background-color:steelblue;
    position:relative;
}

.header-menu .nav{
    position:absolute;
    top:60px;
    right:0px;
    background-color:rgb(253,32,106);
    color:white;
    font-size:11px;
    font-family: sans-serif;
    width:60%;
    height:40px;
}
ul li{
    list-style:none;
    float:left;
    padding-left:50px;
    padding-top:14px;
    text-align:right;
}
ul{
    padding-left:400px;
     text-align: right;
 }
#container{
    background-color:gray;

    width:100%;

}
#container .left{
    width:30%;
    height:596px;
    background-color:blue;
    float:left;
}
#container .right{
    width:70%;
    height:596px;
    background-color:red;
    float:left;
}
.footer{
    clear:both;
    height:100px;
    background-color:green;
    text-align:center;
}
p{
    font-size:20px;
    font-family:sans-serif;
    line-height:20px;
    padding-top:40px;
}
h1{
    text-align: center;
    font-family: fantasy;
    color:forestgreen;
}
.right p{
    font-family: serif;
    font-size: small;
    font-style: italic;
    line-height: 120%;
}